server:
  port: 8080

spring:
  application:
    name: budgetmate-backend
  datasource:
    url: jdbc:postgresql://localhost:5432/budgetmate
    username: budgetmate
    password: budgetmate
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate.format_sql: true
      hibernate.jdbc.time_zone: UTC
  flyway:
    enabled: true
    baseline-on-migrate: true

management:
  endpoints:
    web:
      exposure:
        include: health,info